
/* https://gist.github.com/AndrewCraswell/106143d1bb5d4162689b9e1d89a2d0fb */

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), local('SegoeUI'),
        url('../assets/fonts/SegoeUI.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('../assets/fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('../assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
