.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 88px;
    width: 100%;
    background-color: var(--violet);

}

.footer::before {
    position: absolute;
    content:'';
    left: 0;
    top: -1px;
    right: 0;
    width: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    height: 24px;
    border-radius: 0 0 24px 24px;
    background: var(--light-gray);
}

.footer__content {
    margin: 48px 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__copyright {
    font-size: 13px;
    line-height: 16px;
    color: var(--white);
    opacity: 0.7;
    letter-spacing: 0.23px;
}