/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.goods-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.goods-label {
    cursor: pointer;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.goods-label .goods-checkbox{
    margin: 0;
    margin-right: 11px;
}

.goods-label_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.goods-span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);   
    margin-top: -5px;
}

.goods-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* align-items: flex-start; */
}

.goods-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* max-width: 640px; */
    width: 100%;
}

.goods-li:not(:last-child) {
    margin-bottom: 15.5px;
}


.goods-checkbox {
    cursor: pointer;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    margin-top: 49px;
    margin-right: 13px;
    width: 22px;
    height: 22px;
    visibility: hidden;
}

.goods-checkbox::after {
    cursor: pointer;
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    visibility: visible;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.goods-checkbox:checked::after {
    cursor: pointer;
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    visibility: visible;
    border-radius: 5px;
    border: 1px solid var(--magenta);
    background: var(--magenta) no-repeat center center / 12px 10px;
    background-image: url('../assets/img/checkbox-icon.svg');
}

.goods-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* max-width: 765px; */
    width: 100%;
    min-height: 100px;
    padding-top: 13px;
}


.goods-card:not(:last-child) {
    margin-bottom: 20px;
}

.goods-card__image-box {
    display: flex;
    max-height: 96px;
}

.goods-card__image {
    display: inline-block;
    width: 72px;
    height: 96px;
    margin-right: 16px;
    margin-top: -0.5px;
}

.goods-card__image-prop {
    display: none;
}

.goods-card__image-prop_visible {
    display: none;
}

.goods-card__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 270px;
    width: 100%;
}

.goods-card__description-name {
    cursor: pointer;
    width: 100%;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03px;
    line-break: strict;
    color: var(--black);
}

.goods-card__additional-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 8px;
}

.goods-card__additional-info-element {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    tab-size: 4;
    color: var(--black);
}

.goods-card__additional-info-element:not(:last-child) {
    margin-right: 17px;
}



.goods-card__stock {
    width: 100%;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-gray);
}

.goods-card__description-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.goods-card__provider {
    margin-right: 6px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-gray);
}

.goods-card__description-span {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
}

.goods-card__description-container {
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
    position: absolute;
    top: 30px;
    left: -130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 280px;
    min-height: 104px;
    padding: 11px 16px;
    background-color: var(--white);
    border-radius: 8px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
            z-index: 3;
}

.goods-card__description-span:hover .goods-card__description-container,
.goods-card__description-container:hover {
    /* visibility: visible;
    opacity: 1; */
    display: inline-block;
}


.goods-card__description-container-name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.goods-card__description-container-ogrn {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.goods-card__description-container-address {
    /* margin-bottom: 8px; */
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}


.goods-card__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-right: 5px;
    width: 100px;
}

.goods-card__actions-with-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 8px;
}

.goods-card__actions-plus, .goods-card__actions-minus {
    cursor: pointer;
    /* text-align: center; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    width: 28.5px;

    padding-bottom: 5px;
    background-color: var(--white);
}



.goods-card__actions-amount {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.goods-card__actions-plus {
    padding-right: 5px;
    border-radius: 0 8px 8px 0;
}

.goods-card__actions-minus {
    padding-left: 5px;
    border-radius: 8px 0 0 8px;
}

.goods-card__actions-minus,
.goods-card__actions-plus {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.goods-card__actions-minus_disabled,
.goods-card__actions-plus_disabled {
    cursor: auto;
    color: var(--light-input-gray);
    cursor: no-drop;
}



.goods-card__actions-amount {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    width: 44px;
    padding-bottom: 4px;
    background-color: var(--white);
}

.goods-card__warning {
    margin-bottom: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--coral);
}

.goods-card__warning_hidden {
    display: none;
}

.goods-card__actions-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.goods-card__fav-icon, .goods-card__delete-icon {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.goods-card__fav-icon {
    margin-right: 16px;
}

.goods-card__actions-fav, .goods-card__actions-delete { 
    cursor: pointer;
}


.goods-card__actions-fav_checked .goods-card__fav-icon g path { 
    fill: var(--red);
}

.goods-card__actions-delete:active .goods-card__delete-icon g path { 
    fill: var(--red);
}


.goods-card__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 120px;
    width: 100%;
}

.goods-card__prices-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin-bottom: 5px;
}

.goods-card__prices-current {
    margin-right: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: var(--black);
}

.goods-card__prices-current_for-small {
    margin-top: -4px;
    margin-right: 6px;
    font-size: 20px;
    line-height: 28px;
}

.goods-card__prices-currency {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.goods-card__prices-data {
    position: relative;
}

.goods-card__prices-previous {
    cursor: pointer;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    -webkit-text-decoration: underline dashed;
            text-decoration: underline dashed;
    color: var(--text-gray);
}

.goods-card__prices-previous::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    border: 0.5px solid var(--text-gray);
}


.goods-card__prices-discounts {
    position: absolute;
    right: 0;
    display: none;
    flex-direction: column;
    width: 240px;
    min-height: 64px;
    padding: 11px 16px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.goods-card__prices-data:hover .goods-card__prices-discounts {
    display: block;
}

.goods-card__prices-basic-discount, .goods-card__prices-user-discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.goods-card__prices-basic-discount {
    margin-bottom: 8px;
}

.goods-card__prices-basic-discount-percent, .goods-card__prices-user-discount-percent {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-gray);
}

.goods-card__prices-basic-discount-value, .goods-card__prices-user-discount-value {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}






@media (max-width: 1025px) {
    .goods-card {
        max-width: 606px;
    }

    .goods-card__description {
        margin-right: 30px;
    }

    .goods-card__actions {
        margin-right: 5px;
    }
}




@media (max-width: 860px) {
    .goods-container {
        padding-right: 16px;
        padding-left: 16px;
        transform: translateY(-8px);
    }

    .goods-list {
        padding-top: 4px;
    }

    .goods-li {
        position: relative;
        padding-top: 10px;
    }

    .goods-li:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .goods-li:not(:last-child) {
        margin-bottom: 16px;
    }

    .goods-li .goods-checkbox {
        position: absolute;
        top: 14px;
        left: 4px;
        margin: 0;
    }

    .goods-li .goods-checkbox::after {
        background-color: var(--white);
    }

    .goods-li .goods-checkbox:checked::after {
        border: 1px solid var(--magenta);
        background: var(--magenta) no-repeat center center / 12px 10px;
        background-image: url('../assets/img/checkbox-icon.svg');
    }
    

    .goods-card {
        max-width: none;
        display: grid;
        padding: 0;
        gap: 2px 16px;
        grid-template-columns: 80px auto;
        grid-template-rows: 24px auto auto;
    }

    .goods-card__image-box {
        height: 106px;

        position: relative;
        grid-row: 1 / span 2;
        grid-column: 1;
        margin: 0;
    }

    .goods-card__image {
        margin: 0;
        margin-right: 16px;
        width: 80px;
        height: 106px;
    }

    .goods-card__image-prop_visible {
        display: inline-flex;
    }

    .goods-card__image-prop {
        position: absolute;
        align-items: center;
        justify-content: center;
        bottom: 4px;
        left: 4px;
        min-width: 22px;
        height: 22px;
        border-radius: 6px;
        background-color: var(--white);
    }

    .goods-card__image-prop-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: -2px;
    }

    .goods-card__description {
        margin-right: 0;
        grid-row: 2;
        grid-column: 2;
    }

    .goods-card__description-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .goods-card__description-bottom {
        display: none;
    }

    .goods-card__additional-info-element:not(:first-child) {
        display: none;
    }

    .goods-card__actions {
        grid-row: 3;
        grid-column: 1 / span 2;
        align-self: center;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
        margin-right: 0;
        width: 100%;
        padding-top: 10px;
    }

    .goods-card__actions-with-amount {
        margin-bottom: 0;
        margin-right: 17px;
    }

    .goods-card__actions-minus,
    .goods-card__actions-plus {
        width: 24px;
        height: 32px;
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .goods-card__actions-amount {
        width: 32px;
        height: 32px;
        padding-bottom: 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .goods-card__warning {
        margin-bottom: 0;
        width: 100px;
    }

    .goods-card__actions-bottom {
        margin: 6px 4px 0 auto;
    }

    .goods-card__fav-icon {
        margin-right: 24px;
    }

    .goods-card__delete-icon {
        margin-right: 8px;
    }

    .goods-card__prices {
        grid-row: 1;
        grid-column: 2;
        align-self: flex-start;
        align-items: center;
        flex-direction: row;
        /* justify-content: space-between; */
        max-width: none;
        width: 100%;
    }

    .goods-card__prices-top {
        width: auto;
        margin-right: 5px;
    }

    .goods-card__prices-current {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
    }

    .goods-card__prices-current_for-small {
        margin-right: 5px;
        letter-spacing: 0.007em;
      }
}