
.header {
    position: relative;
    display: flex;
    background-color: var(--violet);
    min-height: 112px;
    height: auto;
    /* padding-top: 16px; */
}

.header::after {
    position: absolute;
    content:'';
    left: 0;
    bottom: -1px;
    right: 0;
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    height: 27px;
    border-radius: 24px 24px 0 0;
    background: var(--light-gray);
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 16px auto;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;   
    width: 100%;
}

.header__nav-menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.header__nav-burger {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.header__nav-main-link {
    min-width: 108px;
    max-width: 108px;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: 0.5px;
}

.header__nav-search-fieldset {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 970x;
    width: 100%;
    border: none;
}

.header__nav-search-input {
    position: relative;
    height: 48px;
    width: 100%;
    padding: 14px 20px;
    border: none;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background: rgba(255, 255, 255, 0.2) url('../assets/img/search.svg') no-repeat scroll right 20px center / 19.5px 20.2px; */
}

.header__nav-search-span {
    position: absolute;
    height: 19.5px;
    width: 20.2px;
    opacity: 0.5;
    right: 22.5px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    background: transparent url('../assets/img/search.svg') no-repeat scroll right 20px center / 19.5px 20.2px;
}


.header__nav-search-input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    opacity: 0.5;
}


.header__nav-menu_right {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.header__nav-link_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 56px;
    min-height: 51px;

    /* height: 100%; */
}

.header__nav-link-icon {
    margin-bottom: auto;
}

.header__nav-link-icon_profile {
    margin-top: 4px;
    margin-left: 2px;
}

.header__nav-link-icon_cart {
    margin-right: 7px;
}

.header__nav-link-text {
    font-size: 13px;
    line-height: 16px;
    color: var(--white);
}


@media (max-width: 1025px) {
    .header::after {
        max-width: 1024px;
    }

    .header__nav-search-fieldset {
        max-width: 594px;
    }
}