@import url('./fonts.css');
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');

@import url('./main.css');

@import url('./footer.css');

@import url('./goodsCard.css');
@import url('./accordeon.css');

@import url('./modal.css');
@import url('./delivery.css');
@import url('./payment.css');
@import url('./recipient.css');


@import url('./test.css');




.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    width: 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.section-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;

    color: var(--black);
}

.dn {
    display: none;
}
