
@import url('./fonts.css');
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');

@import url('./main.css');

@import url('./footer.css');

@import url('./goodsCard.css');
@import url('./accordeon.css');

@import url('./modal.css');
@import url('./delivery.css');
@import url('./payment.css');
@import url('./recipient.css');
@import url('./orderInfo.css');


@import url('./test.css');

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    width: 100%;
    height: 100%;
}






.no-overflow {
    overflow: hidden;
}

.section-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;

    color: var(--black);
}

.dn {
    display: none !important;
}

.cart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 8px 24px 24px;
}

.cart-header {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* letter-spacing: -1.1px;s */
}


.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin-right: 32px;
    max-width: 891px;
    width: 100%;
}

.header__nav-link-cart-tooltip {
    position: absolute;
    top: -5px;
    right: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 16px;
    min-width: 16px;
    width: auto;
    padding: 4px;
    background-color: var(--red);
    border-radius: 16px;
}


.header__nav-link-cart-tooltip-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: var(--white);
}

.footer-cart {
    position: relative;
}

.footer-cart-tooltip {
    position: absolute;
    top: -11px;
    right: -9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 16px;
    min-width: 16px;
    width: auto;
    padding: 4px;
    background-color: var(--red);
    border-radius: 16px;
}


.footer-cart-tooltip-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: var(--white);
}




@media (max-width: 1025px) {
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 1024px;
        width: 100%;
        height: 100%;
    }

    .cart-container {
        margin-right: auto;
        margin-left: auto;
    }

    .app { 
        max-width: 640px;
    }
}

@media (max-width: 860px) {
    .section-header {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 845px;
        width: 100%;
        height: 100%;
    }

    .cart-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
    }

    .cart-header {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
    }

    .app { 
        max-width: none;
        margin-bottom: 0;
    }
}