.order-info {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 429px;
    /* width: 100%; */
    /* height: 604px; */
    padding: 16px 24px 24px;
    background-color: var(--white);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    z-index: 10;
    transform: translateY(-13px);
}

.order-info__total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 9px;
    width: 100%;
}

.order-info__total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-info__cost-total-price-number {
    margin-right: 5px;
    letter-spacing: -0.004em;
}

.order-info__cost-total-price-currency {
    font-size: 20px;
    letter-spacing: -0.004em;
}


.order-info__cost {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}


.order-info__cost-total-amount,
.order-info__cost-total-cost,
.order-info__cost-discount-text,
.order-info__cost-discount-amount,
.order-info__cost-delivery-text,
.order-info__cost-delivery-cost {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}


.order-info__cost-total,
.order-info__cost-discount,
.order-info__cost-delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.order-info__delivery,
.order-info__payment {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}

.order-info__delivery-top,
.order-info__payment-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
}

.order-info__delivery-header,
.order-info__payment-info-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.order-info__delivery-button,
.order-info__payment-info-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.order-info__delivery-address {
    margin-bottom: 4px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    color: var(--black);
}

.order-info__delivery-dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.order-info__delivery-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--magenta);
    text-decoration: dashed underline var(--light-magenta) 1px;
    text-underline-offset: 3px;
}


.order-info__delivery-additional-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 9px 8px;
    background-color: var(--smoky);
    border-radius: 8px;
    /* min-height: 66px; */
}

.order-info__delivery-additional-info-icon {
    margin-right: 8px;
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
}

.order-info__delivery-additional-info-content {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order-info__delivery-additional-info-text {
    /* margin-right: 4px; */
    display: inline;
    color: var(--black);
}

.order-info__delivery-additional-info-span {
    display: inline;
    position: relative;
    cursor: pointer;
    color: var(--green);
    text-decoration: underline dashed var(--light-green);
    text-underline-offset: 2px;
}

.order-info__delivery-additional-info-tooltip {
    display: none;
    position: absolute;
    top: 20px;
    left: -300%;
    min-width: 288px;
    min-height: 56px;
    padding: 10px 16px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.order-info__delivery-additional-info-span:hover .order-info__delivery-additional-info-tooltip {
    display: inline;
}



.order-info__payment-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}



.order-info__payment-image {
    margin-right: 8px;
    width: 32px;
    height: 24px;
}

.order-info__payment-number {
    /* margin-left: 4px; */
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.order-info__payment-ckeck-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    width: 100%;
    padding: 8px 8px 12px;
    background-color: var(--smoky);
    border-radius: 8px;
    /* min-height: 66px; */
}


.order-info__payment-ckeck-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.order-info__payment-ckeck-checkbox {
    position: relative;
    margin-right: 8px;
    width: 22px;
    height: 22px;
    visibility: hidden;
}

.order-info__payment-ckeck-checkbox::after {
    content: '';
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--light-input-gray);
    border-radius: 5px;
    transition: background-color .3s ease-in-out,
                border-color .3s ease-in-out;
}

.order-info__payment-ckeck-checkbox:checked::after {
    border-color: var(--magenta);
    background: var(--magenta) no-repeat center center / 12px 10px;
    background-image: url('../assets/img/checkbox-icon.svg');
}

.order-info__payment-ckeck-text, 
.order-info__payment-ckeck-message {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.order-info__payment-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    max-width: 381px;
    width: 100%;
    min-height: 44px;
    padding-bottom: 4px;
    background-color: var(--magenta);
    border-radius: 8px;
}

.order-info__payment-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}

.order-info__payment-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.order-info__payment-bottom-icon {
    margin-top: 3px;
    margin-right: 8px;
    min-width: 13px;
    min-height: 11px;
    max-width: 13px;
    max-height: 11px;
}

.order-info__payment-bottom-span {
    /* max-width: 220px; */
}

.order-info__payment-bottom-span-text {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.order-info__payment-bottom-span-link {
    cursor: pointer;
    display: inline;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
    text-decoration: underline solid var(--light-gray) 1px;
    text-underline-offset: 2px;
}


@media (max-width: 1025px) {
    .order-info {
        max-width: 303px;
    }

    .order-info__payment-button {
        max-width: 255px;
    }

    .order-info__payment-bottom-span {
        max-width: 220px;
    }
}

