.recipient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* max-width: 640px; */
    min-height: 112px;
    padding: 16px 24px 24px;
    background: var(--white);
    border-radius: 16px;
}

.recipient__header {
    margin-bottom: 16px;
}

.recipient__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* gap: 24px; */
    max-width: 700px;
    width: 100%;
}

.recipient-fieldset {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 64px;
}

.recipient-fieldset:not(:last-child) {
    /* margin-right: 24px; */
}

.recipient-label {
    visibility: hidden;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-gray);
}

.recipient-label_visible {
    visibility: visible;
}


/* переделать на событие инпут самого инпута */
/* .recipient-fieldset:focus-within .recipient-label{
    visibility: visible;
} */

.recipient-input {
    margin-bottom: 4px;
    height: 27px;
    padding: 7px 0 10px;
    border: none;
    border-bottom: 1px solid var(--light-input-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.recipient-input:focus {
    outline: none;
}

.recipient-input_error {
    border-bottom-color: var(--red);
    color: var(--red);
}

.recipient-input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
}

.recipient-input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
}

.recipient-input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
}

.recipient-input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
}

.recipient-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
}

.recipient-message {
    visibility: hidden;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--red);
}

.recipient__index-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--black);
}

.recipient__index-message_error {
    color: var(--red);
}

.recipient-message_error {
    visibility: visible;
    color: var(--red);
}

.recipient-message_black {
    visibility: visible;
    color: var(--black);
}

.recipient__name-fieldset,
.recipient__surname-fieldset {
    max-width: 338px;
    width: 48%;
}

.recipient__email-fieldset,
.recipient__phone-fieldset,
.recipient__index-fieldset {
    max-width: 217px;
    width: 31%;
}

.recipient__name-input,
.recipient__surname-input,
.recipient__email-input,
.recipient__phone-input,
.recipient__index-input {
    width: 100%;
}


@media (max-width: 1025px) {
    .recipient__form {
        max-width: 590px;
    }

    .recipient__name-fieldset,
    .recipient__surname-fieldset {
        max-width: 283px;
    }

    .recipient__email-fieldset,
    .recipient__phone-fieldset,
    .recipient__index-fieldset {
        max-width: 180px;
    }

}


@media (max-width: 860px) {
    .recipient {
        padding: 10px 16px;
    }

    .recipient__header {
        margin-bottom: 4px;
    }

    .recipient__form {
        max-width: none;
    }

    .recipient-fieldset {
        min-height: 72px;
    }

    .recipient__name-fieldset,
    .recipient__surname-fieldset,
    .recipient__email-fieldset,
    .recipient__phone-fieldset,
    .recipient__index-fieldset {
        max-width: none;
        width: 100%;
    }

}