
:root {
    /* Colors */
    --violet: #6725A8;
    --white: #fff;
    --light-gray: #f6f6fa;
    --black: #000;
    --text-gray: #9797AF;
    --coral: #FF3B30;
    --red: #F55123;
    --magenta: #CB11AB;
    --text-gray: #A0A0A4;
    --green: #0CB477;
    --light-green: rgba(12, 180, 119, 0.2);






}